################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/CalcOsago/.vs/CalcOsago/FileContentIndex/2ee0cbf6-2eb1-4c88-b45d-6f108d13e565.vsidx
